* {
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 27%, 96%);
  color: hsl(0, 0%, 13%);
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

main {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

/* ======================================
 Card
====================================== */
.card {
  background-color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
  padding: 2rem;
  width: 450px;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  text-align: left;
}

.card__img {
  border-radius: 50%;
}

.card__heading {
  font-size: 1.25rem;

  /* font-weight: 700; */
  margin-bottom: 1rem;
}

.card__p {
  color: hsl(0, 0%, 29%);
  margin-bottom: 0.5rem;
}

.card__link {
  color: hsl(236, 33%, 53%);
  margin-bottom: 0.5rem;
}

/* ======================================
 List
====================================== */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.list__item {
  margin-bottom: 1rem;
}

/* ======================================
 Modal
====================================== */
.modal {
  background: #fafafa;
  display: none;
  height: 600px;
  left: 25%;
  margin: 0 auto;
  position: fixed;
  top: 25%;
  width: 600px;
  z-index: 10;
}

.modal__body {
  height: 100%;
  padding: 2rem;
  width: 100%;
}

.modal__overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__close-btn {
  position: absolute;
  right: -10px;
  top: -10px;
}

.modal--open {
  display: block;
}
