* {
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 27%, 96%);
  color: hsl(0, 0%, 13%);
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

main {
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

.background__p {
  color: hsl(0, 0%, 60%);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 hsl(0, 0%, 100%);
  top: 25vh;
}

/* ======================================
 Button
====================================== */

.btn {
  border: 0;
  border-radius: 5px;
  height: 3rem;
  outline: none;
  padding: 0 32px;
  transition: background-color 0.5s;
  transition: box-shadow 0.25s;
}

.btn:active {
  box-shadow: inset 0 2px 4px 3px hsla(0, 0%, 0%, 0.5);
}

.btn--primary {
  background-color: hsl(236, 33%, 53%);
  color: hsl(0, 0%, 100%);
}

.btn--primary:hover {
  background-color: hsl(236, 33%, 43%);
}

.btn--right {
  border-radius: 0 5px 5px 0;
}

/* ======================================
 Card
====================================== */
.card {
  background-color: hsl(236, 33%, 100%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
  padding: 2rem;
  text-align: left;
  transition: all 0.5s ease;
  width: 450px;
}

.card:hover {
  background-color: hsl(236, 100%, 95%);
  box-shadow: 0 11px 20px 3px hsla(0, 0%, 0%, 0.2);
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.card__img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 128px;
}

.card__heading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card__p {
  color: hsl(0, 0%, 29%);
  margin-bottom: 0.5rem;
}

.card__link {
  color: hsl(236, 33%, 53%);
  margin-bottom: 0.5rem;
}

@media (max-width: 575.98px) {
  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }
}

/* ======================================
 List
====================================== */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.list__item {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadein;
  margin-bottom: 1rem;
  opacity: 0;
}

/* Cascade animation for list items */
.list li:nth-child(1) {
  animation-delay: 0s;
}

.list li:nth-child(2) {
  animation-delay: 20ms;
}

.list li:nth-child(3) {
  animation-delay: 40ms;
}

.list li:nth-child(4) {
  animation-delay: 60ms;
}

.list li:nth-child(5) {
  animation-delay: 80ms;
}

.list li:nth-child(6) {
  animation-delay: 100ms;
}

.list li:nth-child(7) {
  animation-delay: 120ms;
}

.list li:nth-child(8) {
  animation-delay: 140ms;
}

.list li:nth-child(9) {
  animation-delay: 160ms;
}

.list li:nth-child(10) {
  animation-delay: 180ms;
}

.list li:nth-child(11) {
  animation-delay: 200ms;
}

.list li:nth-child(12) {
  animation-delay: 220ms;
}

/* END cascade */

/* ======================================
 Filter
====================================== */
.filter {
  margin-bottom: 2rem;
}

.filter__label {
  display: block;
  margin-bottom: 6px;
}

.filter__input {
  border: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  height: 3rem;
  outline: none;
  padding: 1rem;
  transition: background-color 0.5s;
}

.filter__input:focus {
  background-color: hsl(236, 100%, 97%);
}

/* ======================================
 Modal
====================================== */
.modal {
  background: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: none;
  height: 500px;
  left: 50%;
  margin-left: -160px;
  position: fixed;
  top: 10%;
  width: 320px;
  z-index: 10;
}

.modal__body {
  height: 100%;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.modal__img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.modal__heading {
  color: hsl(0, 0%, 29%);
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal__item {
  color: hsl(0, 0%, 45%);
  margin-bottom: 1rem;
}

.modal__link {
  color: hsl(236, 33%, 53%);
  display: block;
  margin-bottom: 1rem;
}

.modal__hr {
  border-color: hsla(0, 0%, 100%, 0.43);
  margin: 2rem 0;
}

.modal__overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__close-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0 5px;
  color: hsl(0, 0%, 45%);
  font-weight: 700;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
  transition: box-shadow 0.25s;
}

.modal__close-btn:hover {
  background-color: hsl(236, 33%, 53%);
  color: hsl(0, 0%, 100%);
}

.modal__close-btn:active {
  background-color: hsl(236, 33%, 43%);
  box-shadow: inset 0 2px 4px 3px hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 90%);
  outline: none;
}

.modal__nav {
  background-color: hsl(236, 33%, 53%);
  border: 0;
  border-radius: 50%;
  color: hsl(0, 0%, 90%);
  font-size: 1.25rem;
  height: 40px;
  outline: none;
  position: absolute;
  right: 0;
  top: 62%;
  transition: background-color 0.5s;
  width: 40px;
}

.modal__nav:hover {
  background-color: hsl(236, 33%, 43%);
}

.modal__nav:active {
  box-shadow: inset 0 2px 4px 3px hsla(0, 0%, 0%, 0.5);
}

.modal__nav--prev {
  left: 30px;
}

.modal__nav--next {
  right: 30px;
}

.modal--open {
  display: block;
}

/* ======================================
 Animations
====================================== */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ======================================
 Loader from https://projects.lukehaas.me/css-loaders/
====================================== */
.loader {
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  border-radius: 50%;
  color: hsl(236, 33%, 53%);
  font-size: 90px;
  height: 1em;
  margin: 72px auto;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  top: 25vh;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  width: 1em;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
