* {
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 27%, 96%);
  color: hsl(0, 0%, 13%);
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

main {
  padding: 2rem;
}

h1 {
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

/* ======================================
 Button
====================================== */

.btn {
  border: 0;
  border-radius: 5px;
  height: 3rem;
  padding: 0 32px;
  transition: background-color 0.5s;
  transition: box-shadow 0.25s;
}

.btn:active {
  box-shadow: inset 0 2px 4px 3px hsla(0, 0%, 0%, 0.5);
  outline: none;
}

.btn--primary {
  background-color: hsl(236, 33%, 53%);
  color: hsl(0, 0%, 100%);
}

.btn--primary:hover {
  background-color: hsl(236, 33%, 43%);
}

.btn--right {
  border-radius: 0 5px 5px 0;
}

/* ======================================
 Card
====================================== */
.card {
  background-color: hsl(236, 33%, 100%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
  padding: 2rem;
  text-align: left;
  transition: all 0.5s ease;
  width: 450px;
}

.card:hover {
  background-color: hsl(236, 100%, 95%);
  box-shadow: 0 11px 20px 3px hsla(0, 0%, 0%, 0.2);
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.card__img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 128px;
}

.card__heading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card__p {
  color: hsl(0, 0%, 29%);
  margin-bottom: 0.5rem;
}

.card__link {
  color: hsl(236, 33%, 53%);
  margin-bottom: 0.5rem;
}

@media (max-width: 575.98px) {
  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }
}

/* ======================================
 List
====================================== */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.list__item {
  margin-bottom: 1rem;
}

/* ======================================
 Filter
====================================== */
.filter {
  margin-bottom: 2rem;
}

.filter__label {
  display: block;
  margin-bottom: 6px;
}

.filter__input {
  border: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  height: 3rem;
  padding: 1rem;
  transition: background-color 0.5s;
}

.filter__input:active {
  background-color: hsl(236, 100%, 95%);
}

/* ======================================
 Modal
====================================== */
.modal {
  background: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: none;
  height: 500px;
  left: 50%;
  margin-left: -160px;
  position: fixed;
  top: 10%;
  width: 320px;
  z-index: 10;
}

.modal__body {
  height: 100%;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.modal__img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.modal__heading {
  color: hsl(0, 0%, 29%);
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal__item {
  color: hsl(0, 0%, 45%);
  margin-bottom: 1rem;
}

.modal__link {
  color: hsl(236, 33%, 53%);
  display: block;
  margin-bottom: 1rem;
}

.modal__hr {
  border-color: hsla(0, 0%, 100%, 0.43);
  margin: 2rem 0;
}

.modal__overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__close-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0 5px;
  color: hsl(0, 0%, 45%);
  font-weight: 700;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
  transition: box-shadow 0.25s;
}

.modal__close-btn:hover {
  background-color: hsl(236, 33%, 53%);
  color: hsl(0, 0%, 100%);
}

.modal__close-btn:active {
  background-color: hsl(236, 33%, 43%);
  box-shadow: inset 0 2px 4px 3px hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 90%);
  outline: none;
}

.modal--open {
  display: block;
}
